{% extends 'index.html' %}

{% block main_content %}


<div class="row">
    <div class="col-9">
        <h1>Supremacy</h1>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" href="#" role="button"><i class="bi bi-plus-square"></i> Vraag grondstoffen</a>
    </div>
</div>

<h3>Verzoeken</h3>


<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Gebruiker123 vraagt hout</a>
    <a href="#" class="list-group-item list-group-item-action">Gebruiker199 vraagt geld</a>
    <a href="#" class="list-group-item list-group-item-action">Gebruiker333 vraagt olie</a>
</div>

{% endblock %}




