{% extends 'index.html' %}
{% from 'macros/ranks.html' import get_rank with context %}

{% block main_content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Actief</th>
        <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users%}


    <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.active}}</td>
        <td>{{ get_rank(user) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}