{% extends 'index.html' %}

{% block main_content %}
<h1>Login</h1>

<form method="post" name="login">
    <div class="mb-3">
        <label for="input_username" class="form-label">Username</label>
        <input type="text" class="form-control" id="input_username" name="input_username"
               aria-describedby="username_help">
    </div>
    <div class="mb-3">
        <label for="input_password" class="form-label">Password</label>
        <input type="password" class="form-control" id="input_password" name="input_password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="mt-3">Nog niet geregistreerd? Klik <a href="{{url_for('bp_user.do_register')}}">hier</a> om te registreren.</p>

{% endblock %}
