{% extends 'index.html' %}

{% block main_content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Actief</th>
        <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users%}


    {% if user.profile_type == 0 %}
    {% set rank = 'Admin' %}
    {% set rank_color = 'red' %}
    {% elif user.profile_type == 1 %}
    {% set rank = '' %}
    {% elif user.profile_type == 2 %}
    {% set rank = 'Gebruiker+' %}
    {% set rank_color = 'steelblue' %}
    {% elif user.profile_type == 3 %}
    {% set rank = 'Moderator' %}
    {% set rank_color = 'darkred' %}
    {% endif %}

    <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.active}}</td>
        <td><span style="color: {{rank_color}}">{{rank}}</span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}