{% extends 'index.html' %}

{% block main_content %}
{% if current_user.profile_type == 0 %}
{% set rank = 'Admin' %}
{% set rank_color = 'red' %}
{% elif current_user.profile_type == 1 %}
{% set rank = '' %}
{% elif current_user.profile_type == 2 %}
{% set rank = 'Gebruiker+' %}
{% set rank_color = 'steelblue' %}
{% elif current_user.profile_type == 3 %}
{% set rank = 'Moderator' %}
{% set rank_color = 'darkred' %}
{% endif %}


<h1>{{ current_user.username }} <span style="color: {{rank_color}}">{{rank}}</span></h1>

<h3>Mijn opties</h3>
<div class="list-group">
    <a href="{{url_for('bp_user.do_supremacy')}}" class="list-group-item list-group-item-action">Supremacy 1914</a>
    <a class="list-group-item list-group-item-action disabled">Films</a>
    <a class="list-group-item list-group-item-action disabled">Series</a>
    <a class="list-group-item list-group-item-action disabled">Comming soon</a>
    <a class="list-group-item list-group-item-action disabled">Comming soon</a>
</div>


{% endblock %}